{{ define "home" }}
<section class="parser">
  <div class="grid">
    <div class="unit whole">
      <form action="/" method="post">
        <div class="form-elements">
          <label for="format">Output format</label>
          <select id="format" name="format">
            <option value="html">HTML</option>
            <option value="json">JSON</option>
            <option value="csv">CSV</option>
            <option value="tsv">TSV</option>
          </select>
          <label for="with_details">Show details</label>
          <input
            type="checkbox"
            id="with_details"
            name="with_details"
            checked="checked"
          />
          <label for="code">Nomenclatural Code</label>
          <select id="code" name="code">
            <option value="">Any</option>
            <option value="bacterial" {{ if eq .Code "bacterial" }}selected="selected"{{ end }}>Bacterial</option>
            <option value="botanical" {{ if eq .Code "botanical" }}selected="selected"{{ end }}>Botanical</option>
            <option value="cultivar" {{ if eq .Code "cultivar" }}selected="selected"{{ end }}>Cultivar</option>
            <option value="viral" {{ if eq .Code "viral" }}selected="selected"{{ end }}>Viral</option>
            <option value="zoological" {{ if eq .Code "zoological" }}selected="selected"{{ end }}>Zoological</option>
          </select>
          <label for="diaereses">Preserve diaereses</label>
          <input type="checkbox" id="diaereses" name="diaereses" />
          <label for="initials">No spaced initials</label>
          <input type="checkbox" id="initials" name="initials" />
        </div>
        <textarea
          autofocus
          id="names"
          name="names"
          placeholder="Add up to 5000 names, one per line"
        >
{{.Input}}</textarea
        >
        <input type="submit" value="Parse" />
      </form>
    </div>
  </div>
</section>
{{ if .Parsed }} {{if eq .Format "html" }}
<section class="parser results">
  <div class="grid">
    <div class="unit whole">
      <h4>Results:</h4>
      {{ range .Parsed }}
      <p>
        <code class="unit whole" style="margin-bottom: 1em"
          >{{ parsedJSON . }}</code
        >
      </p>
      <p></p>
      {{ end }}
    </div>
  </div>
</section>
{{ end }} {{ end }} {{ end }}
